/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bottin-block-plugin-bottin-block {
  background-color: #333;
  color: black;
  padding: 5px;
  margin-top: 30px;
}
